.active {
    color: #384aeb !important;
}

.real-active {
    color: #384aeb !important;
}

.btnprofile {
    color: #555;
}

iframe {
    width: 100%;
    height: 420px;
}

html {
    scroll-behavior: smooth;
}

.price-range-area .noUi-handle::after,
.price-range-area .noUi-handle::before {
    display: none
}

.price-range-area {
    padding: 15px 30px 0
}

.price-range-area .noUi-target {
    background: #eee;
    border-radius: 0;
    border: 0;
    box-shadow: none
}

.price-range-area .noUi-base {
    background: #e8f0f2
}

.price-range-area .noUi-horizontal {
    height: 6px
}

.price-range-area .noUi-connect {
    background: #e8f0f2;
    border-radius: 0;
    box-shadow: none
}

.price-range-area .noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    left: 8px;
    top: -5px;
    border-radius: 50%;
    border: 0;
    background: #384aeb;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s
}

.price-range-area .noUi-horizontal .noUi-handle:focus {
    outline: 0
}

.price-range-area .noUi-horizontal .noUi-handle:hover {
    border: 3px solid #384aeb;
    background: #fff
}

.price-range-area .value-wrapper {
    margin-top: 15px;
    color: #777
}

.price-range-area .value-wrapper .to {
    margin: 0 5px
}

.price-range-area .price {
    margin-right: 5px;
    color: #777
}

.sampuldetail {
    width: 300px !important;
    height: 400px;
}

.product_count button {
    display: block;
    border: none;
    background: 0 0;
    box-shadow: none;
    cursor: pointer;
    right: 0;
    font-size: 14px;
    color: #ccc;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: absolute;
}

.pcount button {
    display: block;
    border: none;
    background: 0 0;
    box-shadow: none;
    cursor: pointer;
    right: 0;
    font-size: 14px;
    color: #ccc;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: inline;
}

.product_count input, .pcount input {
    width: 76px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding-left: 10px
}



.product_count label, .pcount label  {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    padding-right: 10px
}



.product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px
}

.login {
    font-size: 16px;
  }
  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .login-header {
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .login-container {
    background: #f8f9fa;
    padding: 12px;
  }
  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }
  .login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  .login input[type="submit"]:hover {
    background: #17c;
  }
  /* Buttons' focus effect */
  .login input[type="submit"]:focus {
    border-color: #05a;
  }

  .modal {
    overflow-y:auto;
  }

  img {
    object-fit: cover;
  }

@media screen and (min-width:1000px) {
    .login_box_area .login_box_img {
        min-height: 770px !important;
    }
}

.dashwrap {
    position: relative;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.504);
    
}

.imagecustomer {
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagecustomer img {
    width: 90px;
    height: 90px;
    border-radius: 500px;
}

.backgroundtop img {
    width: 100%;
    height: 200px;
    position: absolute;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.nama {
    font-size: 30px;
    color: #384aeb;
}

.profilecontent {
    min-height: 550px;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media screen and (max-width:1000px) {
    #bestSellerCarousel .owl-next {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        right: -50px;
    }

    #bestSellerCarousel .owl-prev {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        left: -50px;
    }
}

@media screen and (max-width:768px) {
    #bestSellerCarousel .owl-next {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        right: -50px;
        display: none;
    }

    #bestSellerCarousel .owl-prev {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        left: -50px;
        display: none;
    }

    .login-box-area .login-box-img {
        height: 200px !important;
    }
}

